a {
    text-decoration: none;
    color: inherit;
}

ul,ol {
list-style: none;
padding: 0;
margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #0E1823;
    color:#FBFBFB;
}

.container {
    width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}