.section {
}

.container {
}

.rental-container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.rental-headline {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 50px;
}

.headline-and-form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 472px;
}
.rental-img {
  border-radius: 24px;
}

.rental-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.rental-input {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 18px;
  width: 472px;
  height: 54px;
  background-color: inherit;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(251, 251, 251, 0.4);
  margin-bottom: 18px;
  outline: none;

  transition:
    background 250ms ease,
    color 250ms ease;
}

.rental-input:focus,
.rental-input:hover {
  border: 1px solid rgba(251, 251, 251, 0.5);
  color: #fbfbfb;
}
.rental-textarea {
  resize: none;
  background-color: inherit;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 18px;
  width: 472px;
  height: 116px;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(251, 251, 251, 0.4);
  outline: none;

  transition:
    background 250ms ease,
    color 250ms ease;
}

.rental-textarea:focus,
.rental-textarea:hover {
  border: 1px solid rgba(251, 251, 251, 0.5);
  color: #fbfbfb;
}

.rental-submit-form-button {
  border: none;
  cursor: pointer;
  border-radius: 15px;
  padding: 18px 75px;
  width: 194px;
  height: 56px;
  display: block;
  background: #1b414b;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  transition:
    background 250ms ease,
    color 250ms ease;
}

.rental-submit-form-button:hover,
.rental-submit-form-button:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
